body {
    background-color: lightcyan;
}

.separator {
    margin-bottom: 25px;
}

.header {
    background-color: turquoise;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: row;
    height: 500px;
}

.aside {
    background-color: lightgreen;
    text-align: center;
    width: 25%;
    margin-right: 3%;
    padding-top: 200px;
}

.article {
    background-color: orange;
    text-align: center;
    width: 72%;
    padding-top: 200px;
}

.imageContainer {
    display: flex;
    flex-direction: row;
    height: 200px;
    align-self: flex-end;
    justify-content: center;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.image {
    background-color: blanchedalmond;
    width: 33%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    background-image: url("./images/testing.png");
    background-size: 100% 100%;
    border: 1px solid #34495e;
}

.secondImage {
    background-color: blanchedalmond;
    width: 33%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    background-image: url("./images/testing2.png");
    background-size: 100% 100%;
    border: 1px solid #34495e;
}

.thirdImage {
    background-color: blanchedalmond;
    width: 33%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    background-image: url("./images/testing3.png");
    background-size: 100% 100%;
    border: 1px solid #34495e;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image1 {
    /* background: #34495e; */
    border: 1px solid #34495e;
    /* width: 200px;
    height: 200px; */
    margin-left: 4.5%;
    margin-right: 4.5%;
}
  
.image-contain {
    object-fit: contain;
    object-position: center;
}
  
.image-cover {
    object-fit: cover;
    object-position: right top;
}

/* img {
    max-width: 100%;
    height: auto;
    // width: 0%;
} */